# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Django
# =========================
*.log
db.sqlite3
media/
staticfiles/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# React Native (Future)
# =========================
node_modules/
android/.gradle/
android/app/build/
android/build/
ios/build/

# =========================
# Misc
# =========================
*.swp
*.swo